html{
    scroll-behavior: smooth;
}
body{
    margin: 0px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
}

section{
    height: 100vh;
    width: 100%;

    background-color: rgb(255, 255, 255);
}

.hero-section{
    width: 100%;
    height: 100vh; /* 100% der Bildschirmhöhe */
    overflow: hidden;

    position: relative;

    margin-bottom: -60px;
}

.hero-section > img{
    width: 100%;
    height: 70%;
    object-fit: cover; /* Bild wird skaliert ohne Verzerrung */

    position: absolute;

    inset: 0;
    opacity: 0;
    animation-name: imageFadeIn;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
.hero-section > img:nth-child(1){
    animation-delay: 0s;
}
.hero-section > img:nth-child(2){
    animation-delay: 8s;
}
@keyframes imageFadeIn
{
    0%{
        opacity: 0;
        transform: scale(100%);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(100%);
    }
}


/* Text über dem Bild */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.85);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Dunkler Hintergrund für bessere Lesbarkeit */
    padding: 20px;
    border-radius: 10px;
}

.hero-text button{
    height: 40px;
    width: 140px;

    border-radius: 20px;
    border: 1px solid #65aaff;
    padding: 8px;

    cursor: pointer;

    font-size: .8rem;
    font-weight: bolder;

    color: white;
    background-color: #2f79d3;

    transition: background-color .1s ease-in-out, border-color .3s ease-in-out, color .1s ease-in-out;
}

.hero-text button:hover{
    color: black;
    background-color: #65aaff;
    border-color: #2f79d3;
}


.hero-text h1 {
    font-size: 2.5rem;
    margin: 0;
}

.hero-text p {
    font-size: 1.5rem;
}

.hero-description{
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    top: 70%;

    padding: 20px 0px 0px 0px;
}

.hero-description-element{
    min-width: 150px;

    scale: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-description img{
    height: 50px;
    width: auto;
}

.hero-description p{
    font-weight: bold;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;

    color: #2f79d3;
}

/*Section Seperater*/
.section-seperater{
    height: 30px;
    width: 100%;
    background: linear-gradient(to bottom right, #2f79d3 50%, transparent 100%);
    clip-path: polygon(0% 0%, 10% 100%, 100% 0%, 100% 0%);
}

/*Willkommens section*/

.willkommens-section{
    height: 100%;
    /*min-height: 100vh;*/

    padding: 50px 0px 100px 0px;
}

.willkommens-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin: 0px 15% 0px 15%;
}

.willkommens-section h4{
    grid-column: span 2; /* Überschrift über beide Spalten */
    text-align: start;
    margin: 0px 0px -10px 15%;

    color: gray;
    font-weight: bolder;
}

.willkommens-section h1{
    grid-column: span 2; /* Überschrift über beide Spalten */
    text-align: start;
    margin-left: 15%;

    font-weight: bolder;
    font-size: 2rem;
}

.willkommens-text p{
    line-height: 1.6;
    word-spacing: 0px;

    font-size: medium;
}

/* Course Section */
.course-section{
    width: 100%;
    height: 100%; /* 100% der Bildschirmhöhe */
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 0px 100px 0px;
}

.course-section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 100px;
}

.course-section-course{
    height: 450px;
    width: 350px;

    border-radius: 10px;

    text-decoration: none;
    
    position: relative;

    overflow: hidden;
}


/* Image Shadow */
.course-section-course::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    pointer-events: none;
    z-index: 0;
}

.course-section-course > img{
    width: 110%;
    height: 100%;
    object-fit: cover; /* Bild wird skaliert ohne Verzerrung */

    transition: scale .8s ease-in-out;
}
.course-section-course > img:hover{
    scale: 1.1;
}

.course-section-course-description{
    position: relative;

    margin: -120px 0px 0px 20px;
    z-index: 1;
    pointer-events: none;
}

.course-section-course-description > h2{
   color: #65aaff;
   font-weight: 900;
   font-size: 2rem;
}
.course-section-course-description > p{
    color: white;
    font-weight: bold;
    margin-top: -20px;
}


/* How to Probetraining */
.trailtraining-section{
    height: 700px;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
}

.trailtraining-section > img{
    width: 100%;
    height: 700px;

    object-fit: cover;

    z-index: 0;
}

.trailtraining-section::after{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #65aaffd5;
    pointer-events: none;
    z-index: 0;
}

.trailtraining-section-container{
    display: flex;
    flex-direction: column;

    gap: 0px;

    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
}


.trailtraining-section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0px;

    width: 100%;
    height: 20%;

    margin: -20px 0px -100px 0px;

    z-index: 1;
}

.trailtraining-section-header > h1{
    color: rgb(0, 0, 0);
    font-size: 2.2rem;
    font-weight: 900;

    z-index: 1;
}
.trailtraining-section-header > p{
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 900;

    margin-top: -20px;

    z-index: 1;
}


.trailtraining-section-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 20px;

    padding: 150px 0px 0px 0px;
}

.trailtraining-section-item {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    position: relative;
    bottom: 0;
    left: 0%;
    width: 400px;
    height: 300px;

    border-radius: 10px;

    background-color: white;

    z-index: 1;
}

.trailtraining-section-item > img{
   padding: 20px 0px 0px 0px;
}
.trailtraining-section-item > p{
   padding: 0px 20px 0px 20px;
   text-align: center;
}

.trailtraining-section-pt{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 80px 0px 0px 0px;

    z-index: 1;
}
.trailtraining-section-pt > button{
    height: 45px;
    width: 200px;

    border-radius: 20px;
    border: 1px solid #65aaff;
    padding: 8px;

    cursor: pointer;

    font-size: 1rem;
    font-weight: bolder;

    color: rgb(0, 0, 0);
    background-color: #ffffff;

    transition: background-color .1s ease-in-out, border-color .3s ease-in-out, color .1s ease-in-out;
}
.trailtraining-section-pt > button:hover{
    border-color: black;
    color: rgb(0, 0, 0);
    background-color: #f3f3f3;
}


/*Question Section*/
.fragen-antwort-section{
    margin-top: 150px;

    height: 100%;

    padding: 0px 0px 100px 0px;

    background-color: white;
}
.fragen-antwort-section > h1{
    text-align: center;

    font-weight: 900;

    margin-bottom: 50px;
}
.fragen-container{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.frage-item{
    max-width: 700px;
    width: 80%;

    display: flex;
    flex-direction: column;

    border-radius: 12px;

    background-color: rgb(230, 230, 230);

    cursor: pointer;

    transition: all .1s ease-in-out;
}
.frage-item:hover{
    transform: scale(101%);
}
.fragen_dropdown{
    height: 30px;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 10px;

    pointer-events: auto;
}
.fragen_dropdown > h4{
    margin-top: 0px;
    text-align: center;
}
.fragen_dropdown > img{
    position: absolute;
    right: 5%;
}
.fragen_dropdown-content{
    max-height: 0px;
    overflow: hidden;
    transition: max-height .4s ease-in-out;

    text-align: center;
    font-size: 13px;

    margin-left: 15px;
    margin-right: 15px;

    pointer-events: auto;
}
.fragen_dropdown-content > p{
   padding-bottom: 10px;
}
.fragen_dropdown-content_open{
    max-height: 200px;
}


/* Contact Section */

.contact-section{
    height: 150px;
    width: 100%;

    bottom: 0;

    background-color: rgb(180, 211, 255);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-section-icon-container{
    width: 200px;

    margin: 0px 0px 0px 15%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-section img{
    height: 50px;
    width: 50px;

    object-fit: cover;

    cursor: pointer;
}
.contact-section img:hover{
    size: 1.1;
}

/*Ivisible*/
.hide{
    display: none;
}

@media(max-width: 1300px) {
    .trailtraining-section{
        height: 1300px;
    }
    .trailtraining-section > img{
        width: 100%;
        height: 1300px;
    
        object-fit: cover;
    
        z-index: 0;
    }
    .trailtraining-section-header{
        margin-top: -130px;
    }
    .trailtraining-section-header > h1{
        text-align: center;
    }
    .trailtraining-section-header > p{
        margin-top: -20px;
    }
    .trailtraining-section-item-container{
       flex-direction: column;
       gap: 20px;

       margin: -20px 0px 0px 0px;
    }
    .trailtraining-section-item {
        width: 120%;
    }
    .trailtraining-section-pt{
        margin-top: -50px;
    }
}

@media(max-width: 1000px){
    body{
        font-family: none;
    }

    .willkommens-section{
        margin: 0px 0px 0px 0px;
    }
    .willkommens-section h1{
        margin-left: 5%;
    }
    .willkommens-section h4{
        margin-left: 5%;
    }
    .willkommens-text{
        grid-template-columns: 1fr;
        margin: 0px 5% 0px 05%;
        gap: 0;
    }

    .hero-section{
        height: 100vh;
    }
    .hero-text{
        position: absolute;
        top: 63%;
        bottom: 0%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
    }
    .hero-text h1 {
        font-size: 2.5rem;
        margin: 0;
    }
    .hero-text p {
        font-size: 1rem;
    }

    .hero-description{
        margin-top: 5%;
        margin: 0px 0px 0px 0px;
    }
    .hero-description-element{
        min-width: 130px;
        scale: .7;
    }

    .course-section-container{
        height: 100%;

        flex-direction: column;
    }

    .fragen_dropdown{
        height: 40px;
    }
    .fragen_dropdown > img{
        display: none;
    }


    .contact-section-icon-container{
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
}
